<!DOCTYPE html>
<html lang="en">
    <head>
      <style>
        /* Sets the size and color of the div element of the map */
        #map {
          width: 100%;
          height: 400px;
          background-color: grey;
        }
      </style>
    <meta charset="utf-8">
    <title>Accident Points</title>
    <body>
      <h1>Accident Points</h1>

      <h3>My Google Maps Demo</h3>
      <!--The div element for the map -->
      <div id="map"></div>
      <script type="text/javascript">
        var map;

        function initMap() {
          var boston = {lat: 42.361, lng: -71.057};
          map = new google.maps.Map(
            document.getElementById('map'), {zoom: 13, center: boston});
          var marker = new google.maps.Marker({position: boston, map:map});
          addMarkers()

        }

        function addMarkers() {
          {% if accidents %}
            {% for accident in accidents %}
              var marker = new google.maps.Marker({
                position: {
                  lat: {{ accident.latitude }},
                  lng: {{ accident.longitude }}
                },
                map: map
              });
              console.log(marker)
            {% endfor %}
          {% endif %}
        }
      </script>
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaS-HNVO98Y401Em2QJ6K9H0vQPgol7VY&callback=initMap">
      </script>
  </body>
</html>

