

<!DOCTYPE html>
<html>
  <head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Route Evaluator!</title>
  </head>
  <style>
      #map {
        height: 125%;
        top: 100px;
      }
      html, body {
        height: 70%;
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        top: 20px;
        background-color: #05493C;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: black;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }
      .checkers {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 64px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #origin-input,
      #destination-input {
        background-color: white;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        display: inline;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 200px;
      }

      #origin-input:focus,
      #destination-input:focus {
        border-color: #4d90fe;
      }

      #mode-selector {
        color: #fff;
        background-color: #4d90fe;
        margin-left: 12px;
        padding: 7px 11px 0px 11px;
      }

      #mode-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #marker-selector {
        color: #fff;
        background-color: #4d90fe;
        margin-left: 12px;
        padding: 10px 11px 0px 11px;
      }

      #marker-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #account-description {
        margin-left: 550px;
        position: relative;
        top:-50px;
      }

      .save {
        width: 3em;
        height: 2em;
        font-size: 16px;

      }

      username = form.cleaned_data.get('username')
    </style>
  <body>
      <header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="/">Route Evaluator</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
        </div>
        <!-- Navbar Right Side -->
           <b style="color: white"> {{ user.username }}</b>
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            <a  class="nav-item nav-link" href="{% url 'confirm' %}">Delete Account</a>
            <a  class="nav-item nav-link" href="{% url 'update' %}">Update Info</a>
        </div>
      </div>
    </div>
  </nav>
</header>

    <div id="score-title">
        <span style="color:white; font-size:250%;">Your Score: </span>
        <span style="color:white; font-size:250%;" id="score-value"></span>
    </div>

    <div id="save-query" class="controls">
            <form method="post">
                {% csrf_token %}
                <input type="text" id="name" name="name" placeholder="Route Name:"/>
                <input readonly type="text" id="origin" name="origin" placeholder="Start Address"/>
                <input readonly type="text" id="origin_lat" name="origin_lat" placeholder="Start Latitude"/>
                <input readonly type="text" id="origin_lng" name="origin_lng" placeholder="Start Longitude"/>
                <input readonly type="text" id="destination" name="destination" placeholder="End Address"/>
                <input readonly type="text" id="destination_lat" name="destination_lat" placeholder="End Latitude"/>
                <input readonly type="text" id="destination_lng" name="destination_lng" placeholder="End Longitude"/>
                <input readonly type="text" id="polyline" name="polyline" placeholder="Polyline"/>
                <input readonly type="text" id="score" name="score" placeholder="Score"/>
                <input type="submit" value="Save"/>
            </form>
        </div>

    <div style="display: none">
        <input id="origin-input" class="controls" type="text"
            placeholder="Enter an origin location">

        <input id="destination-input" class="controls" type="text"
            placeholder="Enter a destination location">

        <div id="mode-selector" class="controls">
          <input type="radio" name="type" id="changemode-walking" checked="checked">
          <label for="changemode-walking">Walking</label>

          <input type="radio" name="type" id="changemode-driving">
          <label for="changemode-driving">Driving</label>
        </div>

        <div id="marker-selector" class="checkers">
            Show Accident Markers: <input type="checkbox" id="accidentCheck"
            onclick="toggleMarkerVisibility('accidentCheck', accident_point_markers);"
            checked="checked"><br/>
            Show Hospital Markers: <input type="checkbox" id="hospitalCheck"
            onclick="toggleMarkerVisibility('hospitalCheck', hospital_markers);"
            checked="checked"><br/>
            Show Streetlight Markers: <input type="checkbox" id="streetlightCheck"
            onclick="toggleMarkerVisibility('streetlightCheck', streetlight_markers);">
        </div>
    </div>

    <div id="map"> </div>

    <script>
      let googleMap;
      let accident_point_markers = [];
      let hospital_markers = [];
      let streetlight_markers = [];
      //let info_window;
      let polyline;
      let a_marker;
      let h_marker;
      let s_marker;
      let nearby_accidents = [];
      let nearby_hospitals = [];
      let nearby_streetlights = [];
      let score;
      function initMap() {
        let boston = {lat: 42.361, lng: -71.057};
        googleMap = new google.maps.Map(document.getElementById('map'), {
          mapTypeControl: false,
          center: boston,
          zoom: 13
        });

        addAccidentMarkers();
        addHospitalMarkers();
        addStreetlightMarkers();
        // info_window = new google.maps.InfoWindow({
        //  size: new google.maps.Size(150, 50)
        // })
        new AutocompleteDirectionsHandler(googleMap);
      }

      function AutocompleteDirectionsHandler(map) {
        this.map = map;
        this.originPlaceId = null;
        this.destinationPlaceId = null;
        this.travelMode = 'WALKING';
        this.directionsService = new google.maps.DirectionsService;
        this.directionsRenderer = new google.maps.DirectionsRenderer;
        this.directionsRenderer.setMap(map);

        let originInput = document.getElementById('origin-input');
        let destinationInput = document.getElementById('destination-input');
        let modeSelector = document.getElementById('mode-selector');
        let markerSelector = document.getElementById('marker-selector');

        let originAutocomplete = new google.maps.places.Autocomplete(originInput);

        originAutocomplete.setFields(['place_id']);

        let destinationAutocomplete =
          new google.maps.places.Autocomplete(destinationInput);

        destinationAutocomplete.setFields(['place_id']);

        this.setupClickListener('changemode-walking', 'WALKING');
        this.setupClickListener('changemode-driving', 'DRIVING');

        this.setupPlaceChangedListener(originAutocomplete, 'ORIG');
        this.setupPlaceChangedListener(destinationAutocomplete, 'DEST');

        this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(originInput);
        this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(
          destinationInput);
        this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(modeSelector);
        this.map.controls[google.maps.ControlPosition.TOP_RIGHT].push(markerSelector);
      }

      AutocompleteDirectionsHandler.prototype.setupClickListener = function(
          id, mode) {
        let radioButton = document.getElementById(id);
        let me = this;

        radioButton.addEventListener('click', function() {
          me.travelMode = mode;
          me.route();
        });
      };

      AutocompleteDirectionsHandler.prototype.setupPlaceChangedListener = function(
          autocomplete, mode) {
        let me = this;
        autocomplete.bindTo('bounds', this.map);

        autocomplete.addListener('place_changed', function() {
          var place = autocomplete.getPlace();

          if (!place.place_id) {
            window.alert('Please select an option from the dropdown list.');
            return;
          }
          if (mode === 'ORIG') {
            me.originPlaceId = place.place_id;
          } else {
            me.destinationPlaceId = place.place_id;
          }
          me.route();
        });
      };

      AutocompleteDirectionsHandler.prototype.route = function() {
        if (!this.originPlaceId || !this.destinationPlaceId) {
          return;
        }
        let me = this;

        this.directionsService.route(
            {
              origin: {'placeId': this.originPlaceId},
              destination: {'placeId': this.destinationPlaceId},
              travelMode: this.travelMode
            },
            function(response, status) {
              if (status === 'OK') {
                me.directionsRenderer.setDirections(response);
              } else {
                window.alert('Directions request failed due to ' + status);
              }
              if (polyline) {
                removeLine();
              }
              console.log(response.routes[0].legs[0]);
              let path = google.maps.geometry.encoding.decodePath(response.routes[0].overview_polyline);
              polyline = new google.maps.Polyline({
                path: path,
                strokeColor: '#FF0000',
                strokeOpacity: 0,
                strokeWeight: 2,
                fillColor: '#FF0000',
                fillOpacity: 0,
                map: googleMap
              });
              polyline.setMap(googleMap);
              checkAccidentProximity();
              checkHospitalProximity();
              checkStreetlightProximity();
              updateScore();
              updateQueryForm(response.routes[0]);
              nearby_accidents = [];
              nearby_hospitals = [];
              nearby_streetlights = [];
            });
      };

      // refactor later!!!
      function addAccidentMarkers() {
        {% if accidents %}
          {% for accident in accidents %}
          a_marker = new google.maps.Marker({
          position: {
            lat: {{ accident.latitude }},
            lng: {{ accident.longitude }}},
          map: googleMap,
          icon: 'http://maps.google.com/mapfiles/ms/icons/pink-dot.png'
          });
          //google.maps.event.addListener(a_marker, 'click', function() {
          //  info_window.setContent("Lat: " + a_marker.position.lat() + " Lng: " + a_marker.position.lng());
          //  info_window.open(googleMap, a_marker);
          //});
          accident_point_markers.push(a_marker);
          {% endfor %}
        {% endif %}
      }

      function addHospitalMarkers() {
        {% if hospitals %}
          {% for hospital in hospitals %}
          h_marker = new google.maps.Marker({
          position: {
            lat: {{ hospital.latitude }},
            lng: {{ hospital.longitude }}},
          map: googleMap,
          icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
          });
          //google.maps.event.addListener(h_marker, 'click', function() {
          //  info_window.setContent("Lat: " + h_marker.position.lat() + " Lng: " + h_marker.position.lng());
          //  info_window.open(googleMap, h_marker);
          //});
          hospital_markers.push(h_marker);
          {% endfor %}
        {% endif %}
      }

      function addStreetlightMarkers() {
        {% if streetlights %}
          {% for streetlight in streetlights %}
          s_marker = new google.maps.Marker({
          position: {
            lat: {{ streetlight.latitude }},
            lng: {{ streetlight.longitude }}},
          map: googleMap,
          icon: 'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png'
          });
          //google.maps.event.addListener(s_marker, 'click', function() {
          //  info_window.setContent("Lat: " + s_marker.position.lat() + " Lng: " + s_marker.position.lng());
          //  info_window.open(googleMap, s_marker);
          //});
          s_marker.setVisible(false);
          streetlight_markers.push(s_marker);
          {% endfor %}
        {% endif %}
      }

      function getDistance(source, destination) {
        return google.maps.geometry.spherical.computeDistanceBetween(
          new google.maps.LatLng(source.lat(), source.lng()),
          new google.maps.LatLng(destination.lat(), destination.lng())
        );
      }

      function removeLine() {
        polyline.setMap(null);
      }

      function toggleMarkerVisibility(id, markerList) {
        let visible = document.getElementById(id).checked ? true : false;
        markerList.forEach(marker => {
          marker.setVisible(visible);
        });
      }

      function checkAccidentProximity() {
        accident_point_markers.forEach(marker => {
          if(google.maps.geometry.poly.isLocationOnEdge(marker.position, polyline, 5e-5)) {
            nearby_accidents.push(marker);
            marker.setVisible(true);
          }
          else {
            // console.log(getDistance(marker.position, response.routes[0].legs[0].start_location));
          }
        });
      }

      function checkHospitalProximity() {
        hospital_markers.forEach(marker => {
          if(google.maps.geometry.poly.isLocationOnEdge(marker.position, polyline, 10e-4)) {
            nearby_hospitals.push(marker);
            marker.setVisible(true);
          }
          else {
            // console.log(getDistance(marker.position, response.routes[0].legs[0].start_location));
          }
        });
      }

      function checkStreetlightProximity() {
        streetlight_markers.forEach(marker => {
          if(google.maps.geometry.poly.isLocationOnEdge(marker.position, polyline, 10e-5)) {
            nearby_streetlights.push(marker);
            //marker.setVisible(true);
          }
          else {
            // console.log(getDistance(marker.position, response.routes[0].legs[0].start_location));
          }
        });
      }

      function updateScore() {
        score = 100.00;
        nearby_accidents.forEach(accident => {
          score -= 10.0;
        });
        nearby_hospitals.forEach(hospitals => {
          score += 3.0;
        });
        nearby_streetlights.forEach(streetlight => {
          score += .01;
        });
        document.getElementById('score-value').innerHTML = score.toFixed(2);
      }

      function updateQueryForm(route) {
        document.getElementById('name').value =
                route.legs[0].start_address + " to " + route.legs[0].end_address;
        document.getElementById('origin').value = route.legs[0].start_address;
        document.getElementById('origin_lat').value = route.legs[0].start_location.lat();
        document.getElementById('origin_lng').value = route.legs[0].start_location.lng();
        document.getElementById('destination').value = route.legs[0].end_address;
        document.getElementById('destination_lat').value = route.legs[0].end_location.lat();
        document.getElementById('destination_lng').value = route.legs[0].end_location.lng();
        document.getElementById('polyline').value = route.overview_polyline;
        document.getElementById('score').value = score.toFixed(2);
      }

      </script>
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaS-HNVO98Y401Em2QJ6K9H0vQPgol7VY&callback=initMap&libraries=geometry,places">
      </script>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
  </body>
</html>